@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Excercise Alexander Merino C# MVC</h1>
    <p>This exercise is an example of using c# mvc with ajax, razor.</p>
</div>

